// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-margin {
  display: inline-block;
  width: 17%;
}

.row-margin {
  margin-top: 15px;
}

.title-align {
  text-align: center;
}

.text-align {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.modal-text {
  width: 150px;
}

div.error {
  color: red;
}

body {
  /* Location of the image */
  background-image: image_url("1.jpg");

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
